Sphinx==4.4.0
sphinx-argparse==0.3.1
sphinx-autoapi==1.8.4
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.4.1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-tikz==0.4.16
sphinx-copybutton==0.4.0
pydata_sphinx_theme==0.8.0
numpy==1.22.4
pandas==1.4.1
geopandas==0.10.2
matplotlib==3.5.1
tqdm==4.62.3
scipy==1.7.3
networkx==2.7
PyYAML==6.0
numpydoc==1.2
pyarrow==7.0.0
us==2.0.2
joblib==1.1.0
